# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Ignore assets
public/assets

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# NVM config
.nvmrc
